<!DOCTYPE html>
<html>
<head>
	<title>Blogging platform based on node</title>
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
<div class="row column">
<br>
<img class="thumbnail" src="/images/avatar.png">
<h5>Blogger</h5>
<p>Hello this is my description</p>
</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-open="my-info"></button>
<span class="title-bar-title">Junaid Masoodi</span>
</div>
</div>
<div class="callout primary">
<div class="row column">
<h1>Blog</h1>
<p class="lead">A personal lightweight blog based on node + mysql</p>
</div>
</div>
<div class="padding row small-up-2 medium-up-3 large-up-4">
{{{body}}}
</div>
<hr>
<a href="/admin">Backend</a>
</div>
</div>
</div>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>